name: Generate SBOM + Scan Vulnerabilities.

on:
  push:
    branches: [ master ]

jobs:
  generate-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # STEP 1 — Generate SBOM using Syft
      - name: Generate SBOM (CycloneDX JSON)
        uses: anchore/sbom-action@v0.17.0
        with:
          path: .
          format: cyclonedx-json
          output-file: sbom.json

      # STEP 2 — Install Grype scanner
      - name: Install Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh
          sudo mv ./bin/grype /usr/local/bin/

      # STEP 3 — Scan SBOM with Grype
      - name: Scan SBOM for vulnerabilities
        run: |
          grype sbom:sbom.json -o json > grype-report.json

      # STEP 4 — Upload SBOM + Vulnerability Report
      - name: Upload Security Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sbom-and-vulnerability-report
          path: |
            sbom.json
            grype-report.json
